__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.ruff_cache/
.pytest_cache/
.coverage
.env
.env.*
!.env.example
.venv
.DS_Store
.vscode/
.idea/
*.log
*.tmp
